#CRW_wrapper {
    border: 1px solid #AAA;
    padding: 10px 15px;
    text-align: center;
    max-height: 400px;
    overflow: hidden;
}
#CRW_wrapper .CRW_caption {
    
}
#CRW_wrapper img {
    width: 150px;
}
#CRW_wrapper .CRW_footer {
    border-top: 1px solid #AAA; margin-top:5px; font-size: 9px; color: gray;
    padding-top: 5px;
    line-height: 130%;
    text-align: left;
} 